{
  "Get-AzFunctionApp+[NoContext]+GetAll+$GET+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/providers/Microsoft.Web/sites?api-version=2023-12-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/providers/Microsoft.Web/sites?api-version=2023-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "47" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"1DC53577373C7A0\"" ],
        "x-ms-original-request-ids": [ "a96201d2-4a51-40f5-a2ff-d236ddc606c6" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Linux-Consumption-1vlud0/providers/Microsoft.Web/sites/Functions-Python-312-7v6qe5\",\"name\":\"Functions-Python-312-7v6qe5\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp,linux\",\"location\":\"Central US\",\"properties\":{\"name\":\"Functions-Python-312-7v6qe5\",\"state\":\"Running\",\"hostNames\":[\"functions-python-312-7v6qe5.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Linux-Consumption-1vlud0-CentralUSwebspace-Linux\",\"selfLink\":\"https://waws-prod-dm1-157.api.azurewebsites.windows.net:454/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/webspaces/Functions-Test-Linux-Consumption-1vlud0-CentralUSwebspace-Linux/sites/Functions-Python-312-7v6qe5\",\"repositorySiteName\":\"Functions-Python-312-7v6qe5\",\"owner\":null,\"usageState\":\"Normal\",\"enabled\":true,\"adminEnabled\":true,\"siteScopedCertificatesEnabled\":false,\"afdEnabled\":false,\"enabledHostNames\":[\"functions-python-312-7v6qe5.azurewebsites.net\",\"functions-python-312-7v6qe5.scm.azurewebsites.net\"],\"siteProperties\":{\"metadata\":null,\"properties\":[{\"name\":\"LinuxFxVersion\",\"value\":\"Python|3.12\"},{\"name\":\"WindowsFxVersion\",\"value\":null}],\"appSettings\":null},\"availabilityState\":\"Normal\",\"sslCertificates\":null,\"csrs\":[],\"cers\":null,\"siteMode\":null,\"hostNameSslStates\":[{\"name\":\"functions-python-312-7v6qe5.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"virtualIPv6\":null,\"thumbprint\":null,\"certificateResourceId\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Standard\"},{\"name\":\"functions-python-312-7v6qe5.scm.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"virtualIPv6\":null,\"thumbprint\":null,\"certificateResourceId\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Repository\"}],\"computeMode\":null,\"serverFarm\":null,\"serverFarmId\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Linux-Consumption-1vlud0/providers/Microsoft.Web/serverfarms/CentralUSLinuxDynamicPlan\",\"reserved\":true,\"isXenon\":false,\"hyperV\":false,\"sandboxType\":null,\"lastModifiedTimeUtc\":\"2025-11-11T22:06:37.85\",\"storageRecoveryDefaultState\":\"Running\",\"contentAvailabilityState\":\"Normal\",\"runtimeAvailabilityState\":\"Normal\",\"secretsCollection\":[],\"dnsConfiguration\":{},\"vnetRouteAllEnabled\":false,\"containerAllocationSubnet\":null,\"useContainerLocalhostBindings\":null,\"vnetImagePullEnabled\":false,\"vnetContentShareEnabled\":false,\"outboundVnetRouting\":{\"allTraffic\":false,\"applicationTraffic\":false,\"contentShareTraffic\":false,\"imagePullTraffic\":false,\"backupRestoreTraffic\":false,\"managedIdentityTraffic\":false},\"legacyServiceEndpointTrafficEvaluation\":false,\"siteConfig\":{\"numberOfWorkers\":1,\"defaultDocuments\":null,\"netFrameworkVersion\":null,\"phpVersion\":null,\"pythonVersion\":null,\"nodeVersion\":null,\"powerShellVersion\":null,\"linuxFxVersion\":\"Python|3.12\",\"windowsFxVersion\":null,\"sandboxType\":null,\"windowsConfiguredStacks\":null,\"requestTracingEnabled\":null,\"remoteDebuggingEnabled\":null,\"remoteDebuggingVersion\":null,\"httpLoggingEnabled\":null,\"azureMonitorLogCategories\":null,\"acrUseManagedIdentityCreds\":false,\"acrUserManagedIdentityID\":null,\"logsDirectorySizeLimit\":null,\"detailedErrorLoggingEnabled\":null,\"publishingUsername\":null,\"publishingPassword\":null,\"appSettings\":null,\"metadata\":null,\"connectionStrings\":null,\"machineKey\":null,\"handlerMappings\":null,\"documentRoot\":null,\"scmType\":null,\"use32BitWorkerProcess\":null,\"webSocketsEnabled\":null,\"alwaysOn\":false,\"javaVersion\":null,\"javaContainer\":null,\"javaContainerVersion\":null,\"appCommandLine\":null,\"managedPipelineMode\":null,\"virtualApplications\":null,\"winAuthAdminState\":null,\"winAuthTenantState\":null,\"customAppPoolIdentityAdminState\":null,\"customAppPoolIdentityTenantState\":null,\"runtimeADUser\":null,\"runtimeADUserPassword\":null,\"loadBalancing\":null,\"routingRules\":null,\"experiments\":null,\"limits\":null,\"autoHealEnabled\":null,\"autoHealRules\":null,\"tracingOptions\":null,\"vnetName\":null,\"vnetRouteAllEnabled\":null,\"vnetPrivatePortsCount\":null,\"publicNetworkAccess\":null,\"cors\":null,\"push\":null,\"apiDefinition\":null,\"apiManagementConfig\":null,\"autoSwapSlotName\":null,\"localMySqlEnabled\":null,\"managedServiceIdentityId\":null,\"xManagedServiceIdentityId\":null,\"keyVaultReferenceIdentity\":null,\"ipSecurityRestrictions\":null,\"ipSecurityRestrictionsDefaultAction\":null,\"scmIpSecurityRestrictions\":null,\"scmIpSecurityRestrictionsDefaultAction\":null,\"scmIpSecurityRestrictionsUseMain\":null,\"http20Enabled\":false,\"minTlsVersion\":null,\"minTlsCipherSuite\":null,\"scmMinTlsCipherSuite\":null,\"supportedTlsCipherSuites\":null,\"scmSupportedTlsCipherSuites\":null,\"scmMinTlsVersion\":null,\"ftpsState\":null,\"preWarmedInstanceCount\":null,\"functionAppScaleLimit\":200,\"elasticWebAppScaleLimit\":null,\"healthCheckPath\":null,\"fileChangeAuditEnabled\":null,\"functionsRuntimeScaleMonitoringEnabled\":null,\"websiteTimeZone\":null,\"minimumElasticInstanceCount\":0,\"azureStorageAccounts\":null,\"http20ProxyFlag\":null,\"sitePort\":null,\"antivirusScanEnabled\":null,\"storageType\":null,\"sitePrivateLinkHostEnabled\":null,\"clusteringEnabled\":false,\"webJobsEnabled\":false},\"functionAppConfig\":null,\"daprConfig\":null,\"deploymentId\":\"Functions-Python-312-7v6qe5\",\"slotName\":null,\"trafficManagerHostNames\":null,\"sku\":\"Dynamic\",\"scmSiteAlsoStopped\":false,\"targetSwapSlot\":null,\"hostingEnvironment\":null,\"hostingEnvironmentProfile\":null,\"clientAffinityEnabled\":false,\"clientAffinityProxyEnabled\":false,\"useQueryStringAffinity\":false,\"blockPathTraversal\":false,\"clientCertEnabled\":false,\"clientCertMode\":\"Required\",\"clientCertExclusionPaths\":null,\"clientCertExclusionEndPoints\":null,\"hostNamesDisabled\":false,\"ipMode\":\"IPv4\",\"vnetBackupRestoreEnabled\":false,\"domainVerificationIdentifiers\":null,\"customDomainVerificationId\":\"820897FA13D4FC50B7CBA5CA68DA3943859519540BB2DE7460C95F1DB1087127\",\"kind\":\"functionapp,linux\",\"managedEnvironmentId\":null,\"workloadProfileName\":null,\"resourceConfig\":null,\"inboundIpAddress\":\"13.89.172.4\",\"possibleInboundIpAddresses\":\"13.89.172.4\",\"inboundIpv6Address\":\"2603:1030:10:5::4\",\"possibleInboundIpv6Addresses\":\"2603:1030:10:5::4\",\"ftpUsername\":\"Functions-Python-312-7v6qe5\\\\$Functions-Python-312-7v6qe5\",\"ftpsHostName\":\"ftps://waws-prod-dm1-157.ftp.azurewebsites.windows.net/site/wwwroot\",\"outboundIpAddresses\":\"40.122.169.200,104.208.27.4,40.122.42.64,23.99.130.19,13.89.172.4\",\"possibleOutboundIpAddresses\":\"40.122.169.200,104.208.27.4,40.122.42.64,23.99.130.19,13.67.176.18,104.208.28.216,40.122.168.112,40.122.169.80,23.99.159.248,20.118.17.81,20.118.19.166,20.118.19.182,20.118.20.77,20.118.20.179,20.118.20.230,20.118.21.220,20.118.22.146,20.118.22.148,20.118.22.161,20.118.22.177,20.118.22.227,13.89.172.4\",\"outboundIpv6Addresses\":\"2603:1030:b:a::e2,2603:1030:b:a::e3,2603:1030:b:13::17f,2603:1030:b:24::5e,2603:1030:10:5::4,2603:10e1:100:2::d59:ac04\",\"possibleOutboundIpv6Addresses\":\"2603:1030:b:a::e2,2603:1030:b:a::e3,2603:1030:b:13::17f,2603:1030:b:24::5e,2603:1030:b:e::67,2603:1030:b:5::28c,2603:1030:b:6::b3,2603:1030:b:8::e2,2603:1030:b:13::180,2603:1030:b:5::28e,2603:1030:b:8::e3,2603:1030:b:9::8f,2603:1030:b:8::e4,2603:1030:b:24::5f,2603:1030:b:24::d0,2603:1030:b:8::e5,2603:1030:b:6::f8,2603:1030:b:9::e0,2603:1030:b:e::68,2603:1030:b:12::111,2603:1030:b:f::e6,2603:1030:10:5::4,2603:10e1:100:2::d59:ac04\",\"containerSize\":0,\"dailyMemoryTimeQuota\":0,\"suspendedTill\":null,\"siteDisabledReason\":0,\"functionExecutionUnitsCache\":null,\"maxNumberOfWorkers\":null,\"homeStamp\":\"waws-prod-dm1-157\",\"cloningInfo\":null,\"hostingEnvironmentId\":null,\"tags\":null,\"resourceGroup\":\"Functions-Test-Linux-Consumption-1vlud0\",\"defaultHostName\":\"functions-python-312-7v6qe5.azurewebsites.net\",\"slotSwapStatus\":null,\"httpsOnly\":false,\"endToEndEncryptionEnabled\":false,\"functionsRuntimeAdminIsolationEnabled\":false,\"redundancyMode\":\"None\",\"inProgressOperationId\":null,\"geoDistributions\":null,\"privateEndpointConnections\":null,\"publicNetworkAccess\":null,\"buildVersion\":null,\"targetBuildVersion\":null,\"migrationState\":null,\"eligibleLogCategories\":\"FunctionAppLogs,AppServiceAuthenticationLogs\",\"inFlightFeatures\":null,\"storageAccountRequired\":false,\"virtualNetworkSubnetId\":null,\"keyVaultReferenceIdentity\":\"SystemAssigned\",\"autoGeneratedDomainNameLabelScope\":null,\"privateLinkIdentifiers\":null,\"sshEnabled\":null}},{\"id\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Consumption-izmub4/providers/Microsoft.Web/sites/Functions-DotNet-8-kacuog\",\"name\":\"Functions-DotNet-8-kacuog\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp\",\"location\":\"Central US\",\"properties\":{\"name\":\"Functions-DotNet-8-kacuog\",\"state\":\"Running\",\"hostNames\":[\"functions-dotnet-8-kacuog.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Windows-Consumption-[...]
