{
  "Get-AzFunctionAppAvailableLocation+[NoContext]+Validate set default parameters for -PlanType and -OSType+$GET+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/providers/Microsoft.Web/geoRegions?sku=ElasticPremium\u0026api-version=2023-12-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/providers/Microsoft.Web/geoRegions?sku=ElasticPremium\u0026api-version=2023-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "80" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/providers/Microsoft.Web/geoRegions/Canada Central\",\"name\":\"Canada Central\",\"type\":\"Microsoft.Web/geoRegions\",\"properties\":{\"name\":\"Canada Central\",\"description\":null,\"sortOrder\":0,\"displayName\":\"Canada Central\",\"orgDomain\":\"ZONEREDUNDANCY;PUBLIC;DREAMSPARK;MSFTPUBLIC;FUNCTIONS;DYNAMIC;DSERIES;LINUX;LINUXDSERIES;ELASTICPREMIUM;LINUXFREE;ELASTICLINUX;XENON;XENONV3;WINDOWSV3;LINUXV3;LINUXDYNAMIC;WINDOWSMV3;WINDOWSP0V3;LINUXMV3;LINUXP0V3;XENONMV3;MANAGEDAPP;FLEXCONSUMPTION;FCZONEREDUNDANCY;PV4SERIES;MV4SERIES\",\"subDomains\":\"canadacentral-01.azurewebsites.net\"}},{\"id\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/providers/Microsoft.Web/geoRegions/North Europe\",\"name\":\"North Europe\",\"type\":\"Microsoft.Web/geoRegions\",\"properties\":{\"name\":\"North Europe\",\"description\":null,\"sortOrder\":1,\"displayName\":\"North Europe\",\"orgDomain\":\"ZONEREDUNDANCY;PUBLIC;DREAMSPARK;MSFTPUBLIC;FUNCTIONS;DYNAMIC;LINUX;DSERIES;LINUXDSERIES;SFCONTAINERS;LINUXDYNAMIC;ELASTICPREMIUM;LINUXFREE;ELASTICLINUX;XE[...]
