{
  "New-AzFunctionApp - Flex Consumption+[NoContext]+Create DotNet-Isolated Function App with default runtime version and scaling settings hosted in Flex Consumption+$POST+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/providers/Microsoft.Web/checknameavailability?api-version=2023-12-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/providers/Microsoft.Web/checknameavailability?api-version=2023-12-01",
      "Content": "{\r\n  \"name\": \"Functions-Flex-DotNetIsolated-111125\",\r\n  \"type\": \"Site\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"nameAvailable\":true,\"reason\":\"\",\"message\":\"\"}",
    }
  },
  "New-AzFunctionApp - Flex Consumption+[NoContext]+Create DotNet-Isolated Function App with default runtime version and scaling settings hosted in Flex Consumption+$PUT+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Flex-RG-111125/providers/Microsoft.Web/serverfarms/ASP-FunctionsFlexRG111125-0000?api-version=2023-12-01+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Flex-RG-111125/providers/Microsoft.Web/serverfarms/ASP-FunctionsFlexRG111125-0000?api-version=2023-12-01",
      "Content": "{\r\n  \"kind\": \"functionapp\",\r\n  \"location\": \"eastasia\",\r\n  \"properties\": {\r\n    \"reserved\": true\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"FC1\",\r\n    \"tier\": \"FlexConsumption\",\r\n    \"size\": \"FC\",\r\n    \"family\": \"FC\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Flex-RG-111125/providers/Microsoft.Web/serverfarms/ASP-FunctionsFlexRG111125-0000\",\"name\":\"ASP-FunctionsFlexRG111125-0000\",\"type\":\"Microsoft.Web/serverfarms\",\"kind\":\"functionapp\",\"location\":\"eastasia\",\"properties\":{\"serverFarmId\":52235,\"name\":\"ASP-FunctionsFlexRG111125-0000\",\"sku\":{\"name\":\"FC1\",\"tier\":\"FlexConsumption\",\"size\":\"FC1\",\"family\":\"FC\",\"capacity\":0},\"workerSize\":\"Small\",\"workerSizeId\":0,\"workerTierName\":null,\"numberOfWorkers\":0,\"currentWorkerSize\":\"Small\",\"currentWorkerSizeId\":0,\"currentNumberOfWorkers\":0,\"status\":\"Ready\",\"webSpace\":\"flex-ffc2a3951240c00ae7639839c5ae28c0cbd8cce501d85fa43ed56446311ce389-webspace\",\"subscription\":\"26cfabf6-eb15-4de5-ae51-f2218958bd5f\",\"adminSiteName\":null,\"hostingEnvironment\":null,\"hostingEnvironmentProfile\":null,\"maximumNumberOfWorkers\":0,\"planName\":\"VirtualDedicatedPlan\",\"adminRuntimeSiteName\":null,\"computeMode\":\"Dynamic\",\"siteMode\":null,\"geoRegion\":\"East Asia\",\"perSiteScaling\":false,\"elasticScaleEnabled\":false,\"maximumElasticWorkerCount\":1,\"numberOfSites\":0,\"hostingEnvironmentId\":null,\"isSpot\":false,\"spotExpirationTime\":null,\"freeOfferExpirationTime\":null,\"tags\":null,\"kind\":\"functionapp\",\"resourceGroup\":\"Functions-Flex-RG-111125\",\"reserved\":true,\"isXenon\":false,\"hyperV\":false,\"mdmId\":\"waws-prod-hk1-057_52235\",\"targetWorkerCount\":0,\"targetWorkerSizeId\":0,\"targetWorkerSku\":null,\"provisioningState\":\"Succeeded\",\"webSiteId\":null,\"existingServerFarmIds\":null,\"kubeEnvironmentProfile\":null,\"zoneRedundant\":false,\"maximumNumberOfZones\":3,\"currentNumberOfZonesUtilized\":0,\"migrateToVMSS\":null,\"vnetConnectionsUsed\":null,\"vnetConnectionsMax\":null,\"createdTime\":\"2025-11-11T22:12:37.3333333\",\"asyncScalingEnabled\":false,\"isCustomMode\":false,\"powerState\":\"Running\",\"eligibleLogCategories\":\"\"},\"sku\":{\"name\":\"FC1\",\"tier\":\"FlexConsumption\",\"size\":\"FC1\",\"family\":\"FC\",\"capacity\":0}}",
    }
  },
  "New-AzFunctionApp - Flex Consumption+[NoContext]+Create DotNet-Isolated Function App with default runtime version and scaling settings hosted in Flex Consumption+$GET+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Flex-RG-111125/providers/Microsoft.Web/serverfarms/ASP-FunctionsFlexRG111125-0000?api-version=2023-12-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Flex-RG-111125/providers/Microsoft.Web/serverfarms/ASP-FunctionsFlexRG111125-0000?api-version=2023-12-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "191" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Flex-RG-111125/providers/Microsoft.Web/s[...]
