{
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-74-i2jvf3\u0027+$POST+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-8l5n3c/providers/Microsoft.Web/sites/Functions-PowerShell-74-i2jvf3/restart?api-version=2023-12-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-8l5n3c/providers/Microsoft.Web/sites/Functions-PowerShell-74-i2jvf3/restart?api-version=2023-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "922" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-74-i2jvf3\u0027+$GET+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-8l5n3c/providers/Microsoft.Web/sites/Functions-PowerShell-74-i2jvf3?api-version=2023-12-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-8l5n3c/providers/Microsoft.Web/sites/Functions-PowerShell-74-i2jvf3?api-version=2023-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "923" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"1DC5360D6875C75\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-8l5n3c/providers/Microsoft.Web/sites/Functions-PowerShell-74-i2jvf3\",\"name\":\"Functions-PowerShell-74-i2jvf3\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp\",\"location\":\"Central US\",\"properties\":{\"name\":\"Functions-PowerShell-74-i2jvf3\",\"state\":\"Running\",\"hostNames\":[\"functions-powershell-74-i2jvf3.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Windows-Premium-8l5n3c-CentralUSwebspace\",\"selfLink\":\"https://waws-prod-dm1-013.api.azurewebsites.windows.net:454/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/webspaces/Functions-Test-Windows-Premium-8l5n3c-CentralUSwebspace/sites/Functions-PowerShell-74-i2jvf3\",\"repositorySiteName\":\"Functions-PowerShell-74-i2jvf3\",\"owner\":null,\"usageState\":\"Normal\",\"enabled\":true,\"adminEnabled\":true,\"siteScopedCertificatesEnabled\":false,\"afdEnabled\":false,\"enabledHostNames\":[\"functions-powershell-74-i2jvf3.azurewebsites.net\",\"functions-powershell-74-i2jvf3.scm.azurewebsites.net\"],\"siteProperties\":{\"metadata\":null,\"properties\":[{\"name\":\"LinuxFxVersion\",\"value\":\"\"},{\"name\":\"WindowsFxVersion\",\"value\":null}],\"appSettings\":null},\"availabilityState\":\"Normal\",\"sslCertificates\":null,\"csrs\":[],\"cers\":null,\"siteMode\":null,\"hostNameSslStates\":[{\"name\":\"functions-powershell-74-i2jvf3.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"virtualIPv6\":null,\"thumbprint\":null,\"certificateResourceId\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Standard\"},{\"name\":\"functions-powershell-74-i2jvf3.scm.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"virtualIPv6\":null,\"thumbprint\":null,\"certificateResourceId\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Repository\"}],\"computeMode\":null,\"serverFarm\":null,\"serverFarmId\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-8l5n3c/providers/Microsoft.Web/serverfarms/Functions-Windows-Premium-ovegpw\",\"reserved\":false,\"isXenon\":false,\"hyperV\":false,\"sandboxType\":null,\"lastModifiedTimeUtc\":\"2025-11-11T23:13:49.5433333\",\"storageRecoveryDefaultState\":\"Running\",\"contentAvailabilityState\":\"Normal\",\"runtimeAvailabilityState\":\"Normal\",\"dnsConfiguration\":{},\"vnetRouteAllEnabled\":false,\"containerAllocationSubnet\":null,\"useContainerLocalhostBindings\":null,\"vnetImagePullEnabled\":false,\"vnetContentShareEnabled\":false,\"legacyServiceEndpointTrafficEvaluation\":null,\"siteConfig\":{\"numberOfWorkers\":1,\"defaultDocuments\":null,\"netFrameworkVersion\":null,\"phpVersion\":null,\"pythonVersion\":null,\"nodeVersion\":null,\"powerShellVersion\":null,\"linuxFxVersion\":\"\",\"windowsFxVersion\":null,\"sandboxType\":null,\"windowsConfiguredStacks\":null,\"requestTracingEnabled\":null,\"remoteDebuggingEnabled\":null,\"remoteDebuggingVersion\":null,\"httpLoggingEnabled\":null,\"azureMonitorLogCategories\":null,\"acrUseManagedIdentityCreds\":false,\"acrUserManagedIdentityID\":null,\"logsDirectorySizeLimit\":null,\"detailedErrorLoggingEnabled\":null,\"publishingUsername\":null,\"publishingPassword\":null,\"appSettings\":null,\"metadata\":null,\"connectionStrings\":null,\"machineKey\":null,\"handlerMappings\":null,\"documentRoot\":null,\"scmType\":null,\"use32BitWorkerProcess\":null,\"webSocketsEnabled\":null,\"alwaysOn\":false,\"javaVersion\":null,\"javaContainer\":null,\"javaContainerVersion\":null,\"appCommandLine\":null,\"managedPipelineMode\":null,\"virtualApplications\":null,\"winAuthAdminState\":null,\"winAuthTenantState\":null,\"customAppPoolIdentityAdminState\":null,\"customAppPoolIdentityTenantState\":null,\"runtimeADUser\":null,\"runtimeADUserPassword\":null,\"loadBalancing\":null,\"routingRules\":null,\"experiments\":null,\"limits\":null,\"autoHealEnabled\":null,\"autoHealRules\":null,\"tracingOptions\":null,\"vnetName\":null,\"vnetRouteAllEnabled\":null,\"vnetPrivatePortsCount\":null,\"publicNetworkAccess\":null,\"cors\":null,\"push\":null,\"apiDefinition\":null,\"apiManagementConfig\":null,\"autoSwapSlotName\":null,\"localMySqlEnabled\":null,\"managedServiceIdentityId\":null,\"xManagedServiceIdentityId\":null,\"keyVaultReferenceIdentity\":null,\"ipSecurityRestrictions\":null,\"ipSecurityRestrictionsDefaultAction\":null,\"scmIpSecurityRestrictions\":null,\"scmIpSecurityRestrictionsDefaultAction\":null,\"scmIpSecurityRestrictionsUseMain\":null,\"http20Enabled\":false,\"minTlsVersion\":null,\"minTlsCipherSuite\":null,\"scmMinTlsCipherSuite\":null,\"supportedTlsCipherSuites\":null,\"scmSupportedTlsCipherSuites\":null,\"scmMinTlsVersion\":null,\"ftpsState\":null,\"preWarmedInstanceCount\":null,\"functionAppScaleLimit\":0,\"elasticWebAppScaleLimit\":null,\"healthCheckPath\":null,\"fileChangeAuditEnabled\":null,\"functionsRuntimeScaleMonitoringEnabled\":null,\"websiteTimeZone\":null,\"minimumElasticInstanceCount\":1,\"azureStorageAccounts\":null,\"http20ProxyFlag\":null,\"sitePort\":null,\"antivirusScanEnabled\":null,\"storageType\":null,\"sitePrivateLinkHostEnabled\":null,\"clusteringEnabled\":false,\"webJobsEnabled\":false},\"functionAppConfig\":null,\"daprConfig\":null,\"deploymentId\":\"Functions-PowerShell-74-i2jvf3\",\"slotName\":null,\"trafficManagerHostNames\":null,\"sku\":\"ElasticPremium\",\"scmSiteAlsoStopped\":false,\"targetSwapSlot\":null,\"hostingEnvironment\":null,\"hostingEnvironmentProfile\":null,\"clientAffinityEnabled\":false,\"clientAffinityProxyEnabled\":false,\"useQueryStringAffinity\":false,\"blockPathTraversal\":false,\"clientCertEnabled\":false,\"clientCertMode\":\"Required\",\"clientCertExclusionPaths\":null,\"clientCertExclusionEndPoints\":null,\"hostNamesDisabled\":false,\"ipMode\":\"IPv4\",\"vnetBackupRestoreEnabled\":false,\"domainVerificationIdentifiers\":null,\"customDomainVerificationId\":\"820897FA13D4FC50B7CBA5CA68DA3943859519540BB2DE7460C95F1DB1087127\",\"kind\":\"functionapp\",\"managedEnvironmentId\":null,\"workloadProfileName\":null,\"resourceConfig\":null,\"inboundIpAddress\":\"40.86.99.202\",\"possibleInboundIpAddresses\":\"40.86.99.202,13.89.172.12\",\"inboundIpv6Address\":\"2603:1030:10:6::9\",\"possibleInboundIpv6Addresses\":\"2603:1030:10:6::9\",\"ftpUsername\":\"Functions-PowerShell-74-i2jvf3\\\\$Functions-PowerShell-74-i2jvf3\",\"ftpsHostName\":\"ftps://waws-prod-dm1-013.ftp.azurewebsites.windows.net/site/wwwroot\",\"outboundIpAddresses\":\"40.122.119.157,40.78.129.17,23.99.136.91,40.78.132.166,40.122.52.167,40.86.99.202\",\"possibleOutboundIpAddresses\":\"13.89.50.122,13.67.227.115,13.67.227.230,13.67.227.227,4.249.216.6,40.122.119.157,40.78.129.17,23.99.136.91,40.78.132.166,40.122.52.167,20.118.11.201,20.221.1.51,20.221.1.60,20.221.1.88,20.221.1.138,20.221.1.143,4.249.216.59,4.249.216.125,4.249.217.7,4.249.217.59,4.249.217.63,4.249.217.80,40.86.99.202\",\"outboundIpv6Addresses\":\"2603:1030:b:5::5e,2603:1030:b:9::10e,2603:1030:b:8::10d,2603:1030:b:13::19e,2603:1030:b:f::114,2603:1030:10:6::9,2603:10e1:100:2::2856:63ca\",\"possibleOutboundIpv6Addresses\":\"2603:1030:b:9::10c,2603:1030:b:c::166,2603:1030:b:b::110,2603:1030:b:9::10d,2603:1030:b:5::5e,2603:1030:b:9::10e,2603:1030:b:8::10d,2603:1030:b:13::19e,2603:1030:b:f::114,2603:1030:b:9::10f,2603:1030:b:b::112,2603:1030:b:6::33b,2603:1030:b:24::102,2603:1030:b:13::1a1,2603:1030:b:f::116,2603:1030:b:d::12a,2603:1030:b:25::d9,2603:1030:b:9::114,2603:1030:b:5::23c,2603:1030:b:24::104,2603:1030:b:b::117,2603:1030:10:6::9,2603:10e1:100:2::2856:63ca\",\"containerSize\":1536,\"dailyMemoryTimeQuota\":0,\"suspendedTill\":null,\"siteDisabledReason\":0,\"functionExecutionUnitsCache\":null,\"maxNumberOfWorkers\":null,\"homeStamp\":\"waws-prod-dm1-013\",\"cloningInfo\":null,\"hostingEnvironmentId\":null,\"tags\":null,\"resourceGroup\":\"Functions-Test-Windows-Premium-8l5n3c\",\"defaultHostName\":\"functions-powershell-74-i2jvf3.azurewebsites.net\",\"slotSwapStatus\":null,\"httpsOnly\":false,\"endToEndEncryptionEnabled\":false,\"functionsRuntimeAdminIsolationEnabled\":false,\"redundancyMode\":\"None\",\"inProgressOperationId\":null,\"geoDistributions\":null,\"privateEndpointConnections\":[],\"publicNetworkAccess\":null,\"buildVersion\":null,\"targetBuildVersion\":null,\"migrationState\":null,\"eligibleLogCategories\":\"FunctionAppLogs,AppServiceAuthenticationLogs\",\"inFlightFeatures\":[\"SiteContainers\",\"RouteGeoCapacityClientTrafficToV2\",\"RouteOperationClientTrafficToV2\",\"RouteGeoPlanClientTrafficToV2\",\"RouteGeoSourceControlKeyClientTrafficToV2\",\"RouteGeoUserClientTrafficToV2\"],\"storageAccountRequired\":false,\"virtualNetworkSubnetId\":null,\"keyVaultReferenceIdentity\":\"SystemAssigned\",\"autoGeneratedDomainNameLabelScope\":null,\"privateLinkIdentifiers\":null,\"sshEnabled\":null}}",
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-74-i2jvf3\u0027+$POST+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-8l5n3c/providers/Microsoft.Web/sites/Functions-PowerShell-74-i2jvf3/config/appsettings/list?api-version=2023-12-01+3": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-8l5n3c/providers/Microsoft.Web/sites/Functions-PowerShell-74-i2jvf3/config/appsettings/list?api-version=2023-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "924" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "799" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-8l5n3c/providers/Microsoft.Web/sites/Functions-PowerShell-74-i2jvf3/config/appsettings\",\"name\":\"appsettings\",\"type\":\"Microsoft.Web/sites/config\",\"location\":\"Central US\",\"properties\":{\"FUNCTIONS_WORKER_RUNTIME\":\"powershell\",\"AzureWebJobsStorage\":\"DefaultEndpointsProtocol=https;AccountName=functionswinstoragee8m;AccountKey=BoF0EbHtF3nINHfea6hx5qoki+YfN9D+Kle3u7dZVbmH64BpstOpizqoLe8RsQuk+of2hoaO3bo0+AStThISWg==;EndpointSuffix=core.windows.net\",\"FUNCTIONS_EXTENSION_VERSION\":\"~4\",\"WEBSITE_CONTENTAZUREFILECONNECTIONSTRING\":\"DefaultEndpointsProtocol=https;AccountName=functionswinstoragee8m;AccountKey=BoF0EbHtF3nINHfea6hx5qoki+YfN9D+Kle3u7dZVbmH64BpstOpizqoLe8RsQuk+of2hoaO3bo0+AStThISWg==;EndpointSuffix=core.windows.net\",\"WEBSITE_CONTENTSHARE\":\"functions-powershell-74-i2jvf3\",\"APPLICATIONINSIGHTS_CONNECTION_STRING\":\"InstrumentationKey=10c423d0-1b9e-4205-b282-aa833b69c2a7;IngestionEndpoint=https://centralus-2.in.applicationinsights.azure.com/;LiveEndpoint=https://centralus.livediagnostics.monitor.azure.com/;ApplicationId=4f21d30b-b513-41c2-8365-8518dcf580fe\"}}",
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-74-i2jvf3\u0027+$GET+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Funct[...]
